@page "/user/{Id:int}"
@inject UserService US

@if (user is null)
{
    <p>@($"Couldn't find user with id {Id}")</p>
}
else
{
    <h2>@user.Name</h2>
    <strong>hash code: @user.GetHashCode()</strong>
    @foreach (var i in @user.Items)
    {
        <div>item hex: @i.Description</div>
    }
}

@code
{
    [Parameter]
    public int Id { get; set; }

    User? user;

    protected override async Task OnParametersSetAsync()
    {
        user = await US.GetAsync(Id);
    }
}