@page "/users"
@inject UserService US

<h1>Users</h1>
@if (users is null)
{
    <p>Loading</p>
}
else
{
    @if (!users.Any())
    {
        <p>None</p>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in users)
                {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Name</td>
                </tr>
                }
            </tbody>
        </table>
    }

    <button type="button" @onclick="newUser">New user</button>
}


@code 
{
    List<User>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await US.GetAllAsync();
    }

    void newUser()
    {
        Nav.NavigateTo("/users/new");
    }

}