@page "/users/new"
@inject UserService US

<h1>New user</h1>

<EditForm Model="@user" OnValidSubmit="@onSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="@user.Name" />
    <button type="submit">Submit</button>
</EditForm>

@code 
{
    User user = new User();

    async Task onSubmit()
    {
        user.Items = randomItems();
        await US.CreateAsync(user);
        Nav.NavigateTo("/users");
    }

    List<Item> randomItems()
    {
        var l = new List<Item>();
        var r = new Random();
        foreach (var i in Enumerable.Range(0, r.Next(0, 25)))
        {
            var b = new byte[r.Next(1, 15)];
            r.NextBytes(b);
            l.Add(new Item
            {
                Description = BitConverter.ToString(b)
            });
        }

        return l;
    }
}