﻿@page "/pwnedpasswords"
@inject PwnedPasswordsService PwnedService

<h1>Pwned password</h1>
<div @oninput="Fetch">
    <input type="password" @bind="pass" @bind:event="oninput" placeholder="Type password" />
    <div>@hash</div>
    <div>@result</div>
</div>

@code {
    string pass = "";
    string hash = "";
    string result = "";

    async Task Fetch()
    {
        if (string.IsNullOrEmpty(pass))
        {
            hash = "";
            result = "";
            return;
        }

        var tuple = await PwnedService.Fetch(pass);
        hash = $"hash: {tuple.hash}";
        result = $"result: {tuple.result}";
    }
}
