﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3" style="color: white">
            <UserSearch />
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Users
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pwnedpasswords" Match="NavLinkMatch.All">
                <span class="oi oi-lock-unlocked" aria-hidden="true"></span> Pwned passwords
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
