@inject UserService US

<div @oninput="search">
    <input type="text" @bind="sub" @bind:event="oninput" placeholder="Type name" />
        @if (filtered is { } && sub != "")
        {
            @foreach (var u in filtered)
            {
                <NavLink class="nav-link" href="@($"user/{u.Id}")" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> @u.Name
                </NavLink>
            }
        }
</div>

@code
{
    string sub = "";

    IEnumerable<User>? filtered;
    
    async Task search() 
    { 
        filtered = await US.UsersBySubstringAsync(sub);
    }
}